---
layout: layout.njk
---

        <div id="navigation">
            <ul id="menu">
              <li class="active"><a href="/">Our Hotel</a></li>
              <li><a href="/page-01">Trips</a></li>
              <li><a href="/page-02">Accomodation</a></li>
              <li><a href="/page-03">Gastronomy</a></li>
              <li><a href="/page-04">Spa & Wellness </a></li>
              <li><a href="/page-05">Web Check-in</a></li>
              <li><a href="/page-06">Contact</a></li>
              <li><a href="/page-07">Address</a></li>
              

            </ul>
          </div>
          <div id="maincontent">
            <div id="primary">
              <p>
                <br>
                Enjoy an unforgettable experience at the Fern Hotel Copacabana, located in one of the most spectacular places in Rio de Janeiro, the Copacabana Beach, under the majestic gaze of Sugar Loaf Mountain. Inspired by the glamour carioca in the 1950's, this luxury hotel is an oasis. There are 10 rooms categories with a balcony, and the Gold Rooms offer a private lounge and exclusive services. The hotel also has two swimming pools, spa, sauna, fitness center, restaurant, bars and meeting rooms.
              </p>

              <p>
                Steps from Ipanema beach, in Copacabana district you can find antique fairs and outdoor leisure options such as stand up paddle and surf. On sundays, General Osório square hosts the hippie fair, where you can find typical brazilian products.
              </p>

              <p>
                The Fern Hotel Copacabana is not only surrounded by natural beauties and its sublime beaches. We are on hand to fulfill your request and transform your lodging into an unforgettable experience.<br>

                <img src="/images/pool1.png" class="photo2-img">
              </p>
              
              
              <p class="web" >


                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;From the most famous ,vibrant and beautiful city in the worlds .<br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>YOU</b> will <b>NEVER</b>   forget this holidays...  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Appreciating our wonderful sunset on the beach.<br>

            
              </p>
              
              <p>

                <img src="/images/ipanema.gif" class="photo3-img">

              </p>
            </div>
            <div id="secondary">
              <p>
                The Fern Hotel Copacabana offers beautiful meeting rooms with capacity for up to 1000 people.<br>
                <img src="/images/meeting.jpg" class="photos4-img">
                
              <p>
                <img src="/images/events.jpg" class="photos4-img">
                Relaxing place for meeting
              </p>
              <p>
                <img src="/images/bar.jpg" class="photos4-img">
                Amazing bar when you can enjoy the best drinks and local food.

                
              </p>
            </div>
          </div>
           