---
layout: layout.njk
---
          <div id="navigation">
            <ul id="menu">
              <li><a href="/">Our Hotel</a></li>
              <li class="active"><a href="/page-01">Trips</a></li>
                <li><a href="/page-02">Accomodation</a></li>
                <li><a href="/page-03">Gastronomy</a></li>
              <li><a href="/page-04">Spa & Wellness </a></li>
              <li><a href="/page-05">Web Check-in</a></li>
              <li><a href="/page-06">Contact</a></li>
              <li><a href="/page-07">Address</a></li>
              
            </ul>
            
          </div>
          <div id="maincontent">
            <div id="primary">
              <p>
                Rio de Janeiro is a huge seaside city in Brazil, famed for its Copacabana and Ipanema beaches, 38m Christ the Redeemer statue atop Mount Corcovado and for Sugarloaf Mountain, a granite peak with cable cars to its summit. The city is also known for its sprawling favelas (shanty towns). Its raucous Carnaval festival, featuring parade floats, flamboyant costumes and samba dancers, is considered the world’s largest.
              </p>

              <p>
               
                Sugar Loaf, Portuguese Pão de Açúcar, landmark peak overlooking Rio de Janeiro and the entrance of Guanabara Bay, in southeastern Brazil. Named for its shape, the conical, granitic peak (1,296 feet [395 metres]) lies at the end of a short range between Rio de Janeiro and the Atlantic Ocean.
              </p>
              <p>
                Those who have already been enchanted by the Jardim Bôtanico, but are looking for a less popular venue, will find a tranquil paradise at Lage Park (Parque Lage). The small park at the foot of Corcovado Mountain was once the residence of the rich industrialist Enrique Large and his wife, the singer Gabriella Besanzoni. Surrounded by monkeys and birds hopping from branch to branch in the Atlantic rain forest, the park resembles an oasis and it is easy to see why the couple decided to settle down here. The mansion was built in the colonial style, but was later remodeled by Italian architect Mario Vodrelan and enclosed by a perfectly landscaped English-style garden. Today, the building hosts the Escola de Artes Visuais – the visual arts school – as well as a café, both of which are open to the public.<br>


                <img src="/images/parque-lage-rio.jpg" class="photos6-img ">

              </p>

              <p class="clear">
                There is something magical about Brazil. Perhaps it's the perfect cocktail of tropical modernism.  Take for example the super beautiful modernist Copacabana sidewalk which runs along the Avenida Atlântica in Rio de Janeiro. This modernist boardwalk with its organic swirling pattern was designed by the super talented Brazilian landscape architect; Roberto Burle Marx in 1971. Ad this to your growing list of excuses to visit Brazil someday! The boardwalk of Avenida Atlântica at Copacabana Beach was Roberto Burle Marx's most significant landscape design for Rio de Janeiro. The boardwalk design was a modern abstract interpretation of a traditional Portuguese paving pattern using waves of black and white stone sets. Regrettably, some of the boardwalk design was removed when the Avenida Atlantica was widened and it was never completely restored to its original design.<br>

                <img src="/images/calcadacopacabana.jpg" class="photos6-img"><br>

              </p>
             
                
            </div>

            <div  id="secondary" >
              <p class="clear">
                <img src="/images/arcodalapa.jpg" class="photos7-img"><br class="clear">
                A much-photographed symbol of Lapa, the arches date back to the mid-18th century, when the structure served as an aqueduct to carry water from the Carioca River to downtown Rio. In a style reminiscent of ancient Rome, the 42 arches stand 64m high. Today the arches carry the bonde cable car on its way between Centro and Santa Teresa. Located near Av Mem de Sá.
              </p>
              <p >
                <img src="/images/paodeacucar.jpg" class="photos7-img"><br>
                Inaugurated in 1912, the little tram of the Sugar loaf was the first Brazilian cable car and the third in the world, linking the Urca hill to the Sugar loaf mountain. Since then, more than 40 million of people have already used that cable cars.From the high of the two mountains revels a gorgeous landscapes of the city, including the Botafogo cave, Copacabana edge and the entrance of Guanabara bay. In the summer, the amphitheater, located in the top of Urca hill is a stage for shows and night events, joining fun and a wonderful visual of lights of the city.
              </p>
              <p>

                <img src="/images/escadaria.jpg" class="photos7-img"><br class="clear">
                Chilean artist Jorge Selarón, the Selarón Steps are one of Brazil’s most famous pieces of street art, often featured in commercials, music videos, and magazines around the world. Many tours of downtown Rio combine a visit to the staircase with stops at other city highlights such as Sugarloaf Mountain, Copacabana Beach, Ipanema Beach, and the Botanical Garden (Jardim Botanico). Neighborhood walking tours, some with a focus on street art, allow you to see the steps up-close.<br>

                

              </p>
            </div>
          </div>
          