---
layout: layout.njk
---
            <div id="navigation">
            <ul id="menu">
              <li><a href="/">Our Hotel</a></li>
              <li><a href="/page-01.">Trips</a></li>
              <li><a href="/page-02">Accomodation</a></li>
              <li><a href="/page-03">Gastronomy</a></li>
              <li><a href="/page-04">Spa & Wellness </a></li>
              <li class="active"><a href="/page-05">Web Check-in</a></li>
              <li><a href="/page-06">Contact</a></li>
              <li><a href="/page-07">Address</a></li>
              
            </ul>
          </div>
          <div id="maincontent">
            <div id="tertiary" class="web">

              <h2><strong>Easy, Fast and Comfortable</strong></h2><br>

              <p class="gold">

                &nbsp;WEB CHECK-IN<br>

              </p>
              <p>

                Improve your experience at our Hotel.<br><br>
                Decrease reception time, have free wi-fi access, in addition to making room service orders.<br><br>
                Web Check-in* through the link: <strong><u>CLICK HERE</u></strong>  or by QRcode <br><br>

                <img src="/images/qrcode.png" class="p15-img"><br><br><br>

                *Access allowed 7 days before check-in.<br>
              
            

            </div>
          </div>

          