---
layout: layout.njk
---
            <div id="navigation">
              <ul id="menu">
                <li><a href="/">Our Hotel</a></li>
              <li><a href="/page-01">Trips</a></li>
              <li><a href="/page-02">Accomodation</a></li>
              <li><a href="/page-03">Gastronomy</a></li>
              <li><a href="/page-04">Spa & Wellness </a></li>
              <li><a href="/page-05">Web Check-in</a></li>
              <li><a href="/page-06">Contact</a></li>
              <li class="active"><a href="/page-07">Address</a></li>

   
              </ul>
            </div>
            <div id="maincontent">
              <div id="primary">
                <img src="/images/mapa.png" class="photo13-img">
                <p>
                  Avenida Atlântica, 4240, Copacabana, Rio de Janeiro - RJ, 22070-900 Brazil
                </p>
                <p>
                  Located in front of Copacabana Beach, this modern and sophisticated hotel is  a few kilometers away to the beautiful Rodrigo de Freitas Lagoon, Botanic Garden, Sugar Loaf, Arpoador and Corcovado. It is located between Copacabana and Ipanema Beaches, just 50 minutes from the Galeão International airport and 30 minutes from Santos Dumont domestic airport and city center.
                </p>
                <p>
                 As the most famous beach in South America, the beautiful Copacabana makes millions of people fall in love with the city of Rio each year. There is a higher concentration of hotels here than in any other neighborhood in town, and for good reason -white sand, smooth, inviting waters, and an array of charming kiosks and cafes in the area all await. Copacabana houses an extremely democratic, eclectic neighborhood, with million-dollar penthouses residing next to tiny studio apartments, and everything in between. With 160 thousand residents, it almost becomes a city of its own.
                </p>
              </div>
              <div id="secondary">
                <p>
                  <img src="/images/predio-rio.jpg"  class="photo14-img" ><br>

                  During New Years, the beach in Copacabana plays host to the biggest party in the world. This is the spot where Rio's famous New Years celebration takes place, attracting 2 million visitors annually from all over the world. Exquisite fireworks and an all night festival are truly a sight to see. The majority dress in white for tradition and good luck, celebrating the joys of life and a new year.
                </p>
                
              </div>
            </div>
            