---
layout: layout.njk
---

            <div id="navigation">
              <ul id="menu">
                <li><a href="/">Our Hotel</a></li>
              <li><a href="/page-01">Trips</a></li>
              <li><a href="/page-02">Accomodation</a></li>
              <li><a href="/page-03">Gastronomy</a></li>
              <li><a href="/page-04">Spa & Wellness </a></li>
              <li><a href="/page-05">Web Check-in</a></li>
              <li class="active"><a href="/page-06">Contact</a></li>
              <li><a href="/page-07">Address</a></li>

                
              </ul>
            </div>
            <div id="maincontent">
              <div id="primary">
                <p class="time">
                  Our Check-in is between 3:00 PM - Check-out 12:00 PM (noon).
                </p>
                <p class="ball">
                  
                  The Fern Copacabana Hotel is not only surrounded by natural beauties and its sublime beaches.<br>
                   We are on hand to fulfill your request and transform your lodging into an unforgettable experience.<br>
                   Contact us by phone,Whatsapp or e-mail.We will be deligthed to offer our best services for you.
                </p>
                
              </div>
              <div  id="secondary" >
                <p class="ball">
                  We can provide a huge range of services for our dear guests such as :<br><br>
                  Baby-Sitter <br>Concierge<br>Car Service <br>Valet Parking<br>Wheelchair Accessibility<br>
                  High Speed Internet<br>Laundry<br>Pet Policy<br>Beach Service
                </p>
                
              </div>
            </div>
            