---
layout: layout.njk
---
            <div id="navigation">
            <ul id="menu">
              <li><a href="/">Our Hotel</a></li>
              <li><a href="/page-01">Trips</a></li>
              <li><a href="/page-02">Accomodation</a></li>
              <li><a href="/page-03">Gastronomy</a></li>
              <li class="active"><a href="/page-04">Spa & Wellness </a></li>
              <li><a href="/page-05">Web Check-in</a></li>
              <li><a href="/page-06">Contact</a></li>
              <li><a href="/page-07">Address</a></li>
              
            </ul>
          </div>
          <div id="maincontent">
            <div id="primary" >

              
              <iframe width="900" height="500"   src="https://player.vimeo.com/video/692547867?h=38a31f2fef" title= " You tube video player" frameborder="0" allow = "accelerometer;autoplay;clipboard-write;encrypted-media;gyroscope;picture-in-picture"allowfullscreen>
                
              </iframe>

                <p> A video of our amazing SPA in our Fern Copacabana Hotel </p>
                
              </video> <br><br><br>

              <p class="spa">
                Take a vacation from your vacation. We know that even when you are on holiday, you need to take a break from all the action. With our space Spa & Wellness there’s no need to go far to escape. Discover an oasis of calm that feels like a world away at the fabulous hotels of Fern Copacabana Hotel.<br><br>

                Discover our state-of-the-art spas, offering exclusive services based on ancient techniques combined with the latest technology. Dive into our luminous pools and sooth your muscles with our extensive hydrotherapy circuits. Enjoy esthetic treatments for your face, as well as for your entire body. Spoil yourself with a luxurious massage or try one of our couple’s massages. You’ll discover a brand new “you” in this luxurious world of tranquility.<br><br>

                Explore our fabulous facilities in our 5-star hotels located in Rio de Janeiro city, as well as our branch created for our 4-star hotels in Europe, Zensations by Fern Copacabana Hotel Spa & Wellness.<br><br>
              </p>
              
            </div>
            <div id="secondary" class="boxspa">
              <h1> A such Special day </h1><br>
              <p>
                Here at Unique Day Spa we offer a relaxing, calming atmosphere with private Spa rooms for singles, couples and small groups, where you can enjoy Jacuzzi, steam room, sauna, shower; all in the comfort of your own private Spa room.
                You can add to your Unique Day Spa experience by enjoying a bottle of wine or bubbly while you soak away your worries and your stress.<br><br>
                You can make your Unique Day Spa experience even more relaxing by adding a massage, spending some time in our uniquely designed Salt Room, having a session in our Presso Therapy Room or have a ‘’zero gravity’’ sleep in our Dry Floatation Room.<br>
              </p>
              
            </div>
          </div>
          