---
layout: layout.njk
---
	          <div id="navigation">
	          <ul id="menu">
	            <li><a href="/">Our Hotel</a></li>
	            <li><a href="/page-01">Trips</a></li>
	            <li class="active"><a href="/page-02">Accomodation</a></li>
	            <li><a href="/page-03">Gastronomy</a></li>
	            <li><a href="/page-04">Spa & Wellness </a></li>
	            <li><a href="/page-05">Web Check-in</a></li>
	            <li><a href="/page-06">Contact</a></li>
	            <li><a href="/page-07">Address</a></li>
	            
	          </ul>
	        </div>
	        <div id="maincontent">
	          <div id="primary">
	            <img src="/images/goldsuite.jpg" class="photo9-img">
	            <h2>
	              Golden Suite
	            </h2>
	            <p>
	              Our 375 apartments, with 53 suites, make the fairmont gold floor. They are decorated with tones of blue, inspired in the sea of Copacabana. All the apartments offer generous comfort supplemented by the stunning views of Copacabana beach, the Sugar Loaf or the city.
	            </p>
	            <p>
	             Elegant and comfortable rooms, with 1 King Size Bed or 2 single beds, Arpoador or front ocean view with balcony, sophisticated decor features 55" TV, minibar, digital safe and WIFI Internet access.


	            <p>
	            Arpoador or Front Ocean View The picture above is representative of the room category. The actual rooms may be different from what is shown in the pictures.<br><br>
	            Our rooms have all the comfort , quality and practicality in your stay . Of course, not leaving beauty and style aside as it was specially designed by the famous architect Oscar Niemeyer, who is so renowned for his touch of delicacy, luxury and elegance.<br>
	            </p>
	            <img src="/images/silveroom.jpg" class="photo10-img">
	            
	            <h2>
	              Silver Suite
	            </h2>
	            </p>
	          </div>

	          <div id="secondary" class="room">
	           
	              <p>
	                Peace ,private and quite Moments ....
	              <img src="/images/lightroom.jpg" class="photos11-img">
	              <h3>Light Room </h3>
	            </p>

	             <p>

	              Just the best for your experience in Rio de janeiro be Amazing <br>
	              <img src="/images/quarto3.png" class="photos11-img">
	              
	              <h3> White Room</h3>
	            </p>

	            <p>
	            Wonderful moments to be a great pleasure
	            </p>
	            <p>
	              <img src="/images/greenroom.jpg" class="photos11-img">
	              <h3>Green Room </h3>
	            </p>
	          </div>
	        </div>
	        